.body-container
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center  // 添加此行以居中子元素
    max-width: 100%  // 添加这行
    overflow-x: hidden  // 添加这行
    & > div:not(:last-child)
        margin-bottom: 40px

.main-wrapper, .footer-wrapper
    width: 100%
    max-width: 640px  // 设置最大宽度
