<footer>
    <div class="footer-container">
        <div class="footer-meta">
            <% if (theme.copyright) { %>
                <div class="footer-meta-copyright">
                    &copy; <%= date(new Date(), 'YYYY') %> <%= theme.copyright.name || config.author %>.
                </div>
            <% } %>
            <% if (theme.license) { %>
                <div class="footer-meta-licenese">
                    Licensed <a href="<%- url_for(theme.license.url) %>"><%= theme.license.name %></a>
                </div>
            <% } %>
        </div>
    </div>
</footer>
