<div class="index-header-wrapper">
    <div class="index-header-container">
        <div class="index-avatar">
            <img src="/avatar.jpeg" alt="Avatar">
        </div>
        <div class="index-text-content">
            <div class="index-intro">
                <%= config.title %>
            </div>
            <div class="index-description">
                <%= config.description %>
            </div>
        </div>
    </div>
</div>