.night-mode
    background-color: #121212
    color: #b0b0b0

    a
        color: #b0b0b0

    .pinned-item-date,
    .post-item-date
        color: #b0b0b0

    blockquote
        background-color: #333333 !important

    pre code
        background-color: #333
        color: #b0b0b0

    .lock-icon
        stroke: #b0b0b0
        fill: #2a2a2a

        &:hover
            stroke: #ffffff
            fill: #3a3a3a
