body
  font-size: 17px
a
  text-decoration: none
  color: #222
pre code
  white-space: pre
  word-wrap: normal
  font-size: 14px

@import './partial/layout'
@import './partial/header'
@import './partial/index'
@import './partial/footer'
@import './partial/post'
@import './partial/highlight'